<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><strong>Title: </strong>{{recipes.title}}</p>
    <strong>Author: </strong><a href="/author/{{recipes.author.id}}">{{recipes.author}}</a>
    <p><strong>Description: </strong>{{recipes.description}}</p>
    <p><strong>Time Required:</strong>{{recipes.time_required}}</p>
    <strong>Instructions:</strong>{{recipes.instructions}}
</body>
</html>